@import "alert/default.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
  line-height: 21px;
  @apply md:text-base;
  font-family: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

html, body {
  //min-width: 700px;
}

.field_with_errors {
  display: flex;
  flex-direction: column;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.summer-icon {
  @apply w-6 h-6 inline-block align-middle;
}
.summer-icon-sm {
  @apply w-5 h-5 inline-block align-middle;
}
.summer-icon-xs {
  @apply w-4 h-4 inline-block align-middle;
}

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-800 justify-end;
  .page {
    a {
      @apply block rounded px-3 py-1.5 bg-gray-100;
      &:hover {
        @apply bg-gray-200;
      }
    }
    &.active a {
      @apply text-white bg-black cursor-default;
    }
    &.disabled a {
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.gap { }  /* if you need to customize it */
  }
  .pagy-combo-input, &.pagy-items-selector-js {
    @apply inline-block bg-gray-200 rounded-lg px-3 py-0.5;
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}

.table-summer {
  th {
    @apply tracking-tight text-black opacity-50;
  }
  th, td {
    @apply px-0;
  }
  tr {
    @apply text-base;
    @apply border-b-gray-200;
    &:last-child {
      @apply border-b;
    }
  }

}

.table-page-statistics {
  @apply table-sm;

  tr {
    &:first-child {
      border-top-width: 1px;
    }
    border-bottom-width: 1px;
  }

  td {
    padding-left: 0;
    padding-right: 0;
    font-size: 13px;
    letter-spacing: -0.26px;
  }
  td:first-child {
    @apply text-gray-500;
  }
  td:last-child {
    text-align: right;
  }
}

.btn-summer {
  height: 34px;
  min-height: 34px;
  @apply text-base rounded-lg border-0;
  &.btn-red {
    @apply bg-red-100 text-red-500 hover:bg-red-200;

    &[disabled] {
      @apply opacity-50;
    }
  }

  &.btn-black {
    @apply bg-black text-white hover:opacity-80;
    &[disabled] {
      @apply opacity-50;
    }
  }

  &:hover {
    @apply border-0;
  }
}

.btn-input-summer {
  @apply rounded-lg border-gray-200;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);
}

.input-summer {
  @apply input-bordered rounded-lg border-gray-200;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.05);

  &.textarea {
    @apply text-base;
  }
}

.input-search-summer {
  @apply outline-0 border-0 h-[22px] border-l-2 border-gray-600 font-black;
  padding-left: 9px;
  transition: padding-left 0.1s;


  &:placeholder-shown {
    @apply border-l-0 border-gray-300 placeholder-opacity-20 placeholder-black;
    padding-left: 0;
  }

  &:focus {
    @apply outline-0 border-0 border-l-2 border-gray-600;
    padding-left: 9px;
  }
}

.label-summer {
  @apply font-medium pb-1.5 pl-0 text-sm;
  .label-text {
    @apply text-sm;
  }
}

.toggle-summer {
  @apply rounded-2xl [--tglbg:#ccc] border-0 hover:bg-white bg-white;
  &:checked {
    @apply [--tglbg:black] border-0;
  }
}

.bg-default {
  //background: linear-gradient(180deg, #E6EFF8 54.5%, #FFEFE7 100%);
  background: linear-gradient(180deg, #F8FBFE 0%, #FFEFE7 65%, #EEE6F8 100%);
}

.link-summer {
  @apply cursor-pointer text-sm underline-offset-2 underline opacity-50;
}

.badge-summer {
  @apply cursor-default inline font-semibold tracking-tight bg-black bg-opacity-10 rounded-xl text-sm py-1 px-2.5;

  &.badge-xl {
    @apply text-lg py-1.5 px-4;
  }
}

.radio-appearance-summer {
  @apply radio bg-black w-[32px] h-[32px] m-1.5;
  border-width: 0;

  &:checked {
    @apply bg-black w-[42px] h-[42px] border-2 border-[#FECF29] m-0;
  }

  &--light-grey {
    @apply bg-[#EFEFEF];

    &:checked {
      @apply bg-[#EFEFEF];
    }
  }
}

code[class*="language-"],
pre[class*="language-"] {
  font-size: 13px !important;
}

.blur-5xl {
  @apply blur-[200px];
  transform: translate3d(0, 0, 0);
}


.summary-html {
  ul {
    margin: 0;
    padding: 0 0 0 15px;
    list-style-type: disc;
    list-style-position: outside;
  }

  li {
    margin: 0 0 8px 0;
    padding: 0;
  }

  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.bg-close {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40px' height='40px' viewbox='0 0 40 40'%3E%3Cpath d='M 10,10 L 30,30 M 30,10 L 10,30' stroke='white' stroke-width='4' stroke-linecap='butt' /%3E%3C/svg%3E");
  background-size: 100%;
}
