@import "alert/default.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-silkscreen {
  font-family: 'Silkscreen', monospace;
}

.field_with_errors {
  display: flex;
  flex-direction: column;
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

.summer-icon {
  @apply w-6 h-6 inline-block align-middle;
}
.summer-icon-sm {
  @apply w-5 h-5 inline-block align-middle;
}
