//@tailwind base;

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.enhancement-example {
  position: relative;

  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .example-slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(#f2f2f2, 0);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    @include center;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 4px;
      background: white;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      width: 4px;
      background: white;
      cursor: pointer;
    }
  }

  .slider-button {
    pointer-events: none;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: white;
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    @include center;

    @mixin arrow-helper() {
      content: '';
      padding: 2px;
      display: inline-block;
      border: solid #3d3d3d;
      border-width: 0 1px 1px 0;
      cursor: pointer;
    }
    &:after {
      @include arrow-helper();
      transform: rotate(-45deg);
    }
    &:before {
      @include arrow-helper();
      transform: rotate(135deg);
    }
  }

  &--square {
    width: 350px;
    height: 350px;
    @screen sm {
      width: 400px;
      height: 400px;
    }
    @screen md {
      width: 500px;
      height: 500px;
    }

    .img {
      background-size: 350px 100%;
      @screen sm {
        background-size: 400px 100%;
      }
      @screen md {
        background-size: 500px 100%;
      }
    }

    .example-slider {
      &::-webkit-slider-thumb {
        height: 350px;
        @screen sm {
          height: 400px;
        }
        @screen md {
          height: 500px;
        }
      }

      &::-moz-range-thumb {
        height: 350px;
        @screen sm {
          height: 400px;
        }
        @screen md {
          height: 500px;
        }
      }
    }
  }

  &--rectangle {
    width: 352px;
    height: 198px;
    @screen sm {
      width: 569px;
      height: 320px;
    }
    @screen md {
      width: 720px;
      height: 405px;
    }

    .img {
      background-size: 352px 100%;
      @screen sm {
        background-size: 569px 100%;
      }
      @screen md {
        background-size: 720px 100%;
      }
    }

    .example-slider {
      &::-webkit-slider-thumb {
        height: 196px;
        @screen sm {
          height: 320px;
        }
        @screen md {
          height: 405px;
        }
      }

      &::-moz-range-thumb {
        height: 196px;
        @screen sm {
          height: 320px;
        }
        @screen md {
          height: 405px;
        }
      }
    }
  }
}
