<div class="w-96">
  <span class="badge badge-lg badge-neutral"><%=current_user.email %></span>
  <% if current_user.provider.nil? %>
    <%= render 'devise/registrations/change_pass_form' %>
  <% else %>
    <div class="mt-4">
      You've been registered via Google
      <%= vite_image_tag "assets/icons/google.svg", class: 'inline-block w-5 ml-1', width: '30px' %>
    </div>
  <% end %>
</div>
