<div class="card">
  <div class="card-body">
    <div>
      <h2 class="card-title"><%=t('.create_account') %></h2>
      <p class="opacity-50 text-sm mt-1">
        Already have an account?
        <%= link_to t('.sign_in'), new_session_path('user'), class: 'link underline underline-offset-2' %>
      </p>
    </div>
    <%= render 'devise/registrations/sign_up_form' %>
  </div>
</div>
