<div class="bg-gray-950 border-gray-300 text-base-100/50">
  <div class="container mx-auto">
    <footer class="footer footer-center py-6 rounded gap-0.5 place-items-start">
      <div class="grid grid-flow-col gap-4">
        <a class="link link-hover"><%=t('.contact') %></a>
        <a class="link link-hover"><%=t('.terms_of_use') %></a>
        <a class="link link-hover"><%=t('.privacy_policy') %></a>
      </div>
      <div>
        <p>Summer &nbsp; Copyright © 2023</p>
      </div>
    </footer>
  </div>
</div>


