<div class="mb-10 container mx-auto max-w-5xl">
  <div class="flex justify-between p-4 font-extrabold font-mono text-amber-950">
    <div class="border-b-4 border-accent"><%= link_to 'Main', root_path %></div>
    <div class="border-b-4 border-accent"><%= link_to 'About', about_path %></div>
    <div class="border-b-4 border-accent">Testimonials</div>
    <div class="border-b-4 border-accent">
      <%= link_to 'App', user_app_path %>
    </div>
  </div>
</div>
