<h2 class="font-semibold text-xl md:text-2xl">Actions</h2>
<p class="opacity-50 mt-1">
  Here you can see the features that your button includes.
  You can disable a specific action if you don't want it to happen.
</p>

<div id="summer_feature_cards" class="grid gap-6 lg:grid-cols-2 lg:grid-rows-2 grid-cols-1 grid-rows-4 mt-12">
  <%= render 'cards_list' %>
</div>
