<% if resource.errors.any? %>
  <div id="error_explanation" class="">
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li class="text-xs bg-yellow opacity-60 font-semibold text-center rounded p-2 mt-2"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
