<%
  setup_route = { name: 'Setup', path: setup_project_path(@project), icon: vite_asset_path('assets/icons/puzzle.svg') }
  pages_route = { name: 'Pages', path: project_pages_path(@project), icon: vite_asset_path('assets/icons/pages.svg') }
  is_it_set_up = @project.decorated.set_up?

  routes = [
    is_it_set_up ? pages_route : setup_route,
    { name: 'Knowledge', path: knowledge_project_path(@project), icon: vite_asset_path('assets/icons/brain.svg') },
    !is_it_set_up ? pages_route : nil,
    { name: 'Actions', path: project_actions_path(@project), icon: vite_asset_path('assets/icons/actions.svg') },
    is_it_set_up ? setup_route : nil,
    { name: 'Settings', path: project_settings_path(@project), icon: vite_asset_path('assets/icons/settings.svg') }
  ].compact!
%>

<ul class="mt-4 text-black">
  <% routes.each do |route|
     classes = %w[p-1.5 pb-2 rounded-xl block]
     if current_page?(route[:path])
       classes << 'bg-black bg-opacity-5'
       else
        classes << 'hover:opacity-100 opacity-60'
      end
  %>
    <li>

      <%=link_to route[:path], class: classes do %>
        <img src="<%= route[:icon] %>" class="summer-icon mr-1" alt="<%= route[:name] %>"/>
        <span class="align-middle"><%= route[:name] %></span>
      <% end %>
    </li>
  <% end %>
</ul>
