<% if Rails.configuration.summer[:IS_PLAYGROUND] %>
  <div class="bg-black text-white p-5 mt-14 rounded-xl opacity-15">
    These buttons are only visible in playground mode.
    <%=
      button_to 'DELETE SUMMARY',
                summary_admin_delete_project_page_path(@current_project, @project_page),
                method: :post,
                class: 'btn btn-summer btn-red mt-4'
    %>
  </div>
<% end %>
