<div class="card mt-8 bg-base-100 drop-shadow-xl">
  <div class="card-body">
    <h2 class="card-title mb-4">
      <span class="border-b-8 border-accent"><%= t('.forgot_your_password') %></span>
    </h2>
    <%= render 'devise/passwords/forgot_password_form' %>
  </div>
</div>
