<tr id="<%= dom_id(@project_article_product) %>">
  <td class="font-semibold pl-0">
    <%= @project_article_product.product.name&.truncate(60) %>
  </td>
  <td class="text-right">
    <%= form %>
  </td>
</tr>
