<div class="border-2 p-2 border-accent" id="<%= dom_id article %>">
  <h2 class="text-xl font-extrabold"><%= article.title %></h2>
  <%= article.article %>

  <h3 class="text-xl mt-4">Summary</h3>
  <%= article.summary %>
</div>
