<div class="shadow p-6 rounded-xl border">
  <div class="flex justify-between">
    <span class="align-middle"><%=title %></span>
    <img src="<%= icon_src %>" class="summer-icon-sm" alt="Icon" />
  </div>
  <div class="text-xl mt-1 font-semibold"><%=number_with_delimiter(number) %></div>
  <div class="text-sm mt-1 opacity-50"><%=comment %></div>
</div>
