<div class="grid mt-10 px-4 place-content-center">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-9xl">500</h1>

    <p class="text-xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%=t('.try_later') %></p>

    <p class="my-4 text-gray-500"><%=t('.something_went_wrong') %></p>

    <%= link_to t('errors.shared.go_home'), root_path, class: 'btn btn-accent' %>
  </div>
</div>
