<div class="grid mt-10 px-4 place-content-center">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-9xl">404</h1>
    <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%=t('.oh_oh') %></p>
    <p class="my-4 text-gray-500"><%=t('.cant_find_page') %></p>
    <%= link_to t('errors.shared.go_home'), root_path, class: 'btn btn-outline' %>
  </div>
</div>
