<div class="grid mt-20 pb-10 place-content-center">
  <div class="text-center">
    <h1 class="font-black text-gray-200 text-3xl">404</h1>
    <p class="text-2xl font-bold tracking-tight text-gray-900 mt-4"><%=t('.oh_oh') %></p>
    <p class="mb-6 text-gray-500"><%=t('.cant_find_page') %></p>
    <%= link_to t('errors.shared.go_home'), user_app_path, class: 'btn btn-summer' %>
  </div>
</div>
