<div class="card mt-8 bg-base-100 shadow-md">
  <div class="card-body">
    <h2 class="card-title"><span class="border-b-8 border-accent"><%= t('.sign_in') %></span></h2>
      <%= render 'devise/sessions/login_form' %>
  </div>
</div>
