<div class="card">
  <div class="card-body">
    <div>
      <h2 class="card-title"><%= t('.sign_in') %></h2>
      <p class="opacity-50 text-sm mt-1">
        Don’t have an account?
        <%=
          link_to t('devise.registrations.new.create_account'),
                  new_registration_path('user'),
                  class: 'link underline'
        %>
      </p>
    </div>
    <%= render 'devise/sessions/login_form' %>
  </div>
</div>
