<h2 class="font-semibold text-xl md:text-2xl">Settings</h2>
<p class="opacity-50 mt-1">
  Subscription / Domain addresses / Delete project sections <br />
  If you experience issues contact support via
  <a href="mailto:support@getsummer.ai?subject=Code installation issue" class="link"
    >support@getsummer.ai</a
  >
</p>
<hr class="my-12" />
<%=render partial: 'subscription' %>
<hr class="my-12" />
<%=render partial: 'domain_addresses' %>
<hr class="my-12" />

<details tabindex="0" class="collapse collapse-arrow bg-red-50 rounded-2xl">
  <summary class="collapse-title text-lg font-semibold">Delete Project Section</summary>
  <div class="collapse-content">
    <h3 class="font-semibold text-lg">Delete Project</h3>
    <p class="opacity-50 mt-1">
      You will not be able to recover data after deleting this project.
    </p>
    <%=
      link_to 'Delete Project',
        project_path(@current_project),
        class: 'btn btn-summer mt-9 w-44 md:w-36 btn-red',
        data: {
          'turbo-method': :delete,
          turbo_confirm: 'Are you sure?',
        }
    %>
  </div>
</details>
