<h2 class="font-semibold text-2xl">Settings</h2>
<hr class="my-12">

<h3 class="font-semibold text-lg">Domain Addresses</h3>
<p class="opacity-50 mt-1">
  Summer will appear on the pages under this domain(s).
  If you experience issues with the domain or want to change the root address contact support via support@getsummer.ai
</p>

<%= render Notice::Component.new(container_class: 'mt-6') do %>
  <div>
    <b>Important:</b>
    Summer will appear on every page under this domain.
    Make sure to use specific directory address, such as “domain.com/blog”,
    and not the main domain address only.
  </div>
<% end %>

<div>
  <div class="overflow-x-auto mt-6">
    <table class="table table-summer">
      <thead>
      <tr class="text-right">
        <th class="font-semibold text-left">URL Address</th>
        <th class="font-semibold w-24">Pages</th>
        <th class="font-semibold w-24">Shown</th>
        <th class="font-semibold w-24">Clicked</th>
      </tr>
      </thead>
      <tbody>
      <% @statistics.result.each do |statistic_view_model|%>
        <%= render ProjectPathComponents::RowComponent.new(statistic_view_model:) %>
      <% end %>
      </tbody>
    </table>
    <div class="my-3" id="add-new-project-path-btn">
      <%= render ProjectPathComponents::AddNewComponent.new(project: @current_project) %>
    </div>
  </div>
</div>

<hr class="my-12">


<h3 class="font-semibold text-lg">Delete Project</h3>
<p class="opacity-50 mt-1">
  You won’t be able to restore the data in case you delete this project.
</p>
<%= link_to 'Delete Project',
            project_path(@current_project),
            class: "btn btn-summer mt-9 w-36 btn-red",
            data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" }  %>
