<%=
  form_with(
    url: project_pages_path(current_project),
    method: :get,
    data: {
      controller: "auto-submit-input-form",
      turbo_frame: 'pages_table'
    }
  ) do |f|
%>
  <div class="flex justify-between">
    <div>
      <% if show_search %>
        <%=
          f.text_field :search,
                 value: form.search,
                 class: 'input input-sm input-search-summer pl-0 w-full',
                 placeholder: 'Search by title or URL',
                 data: {
                   auto_submit_input_form_target: 'input',
                   action: 'input->auto-submit-input-form#debouncedSubmit',
                 }
        %>
      <% end %>
    </div>
    <div>
      <% if show_order %>
        <%=
          f.select(
            :order,
            options_for_select(
              [
                ['↓ By Shown', 'views_desc'],
                ['↑ By Shown', 'views_asc'],
                ['↓ By Clicked', 'clicks_desc'],
                ['↑ By Clicked', 'clicks_asc'],
              ],
              form.order,
            ),
            {},
            {
              class: 'select select-bordered rounded-lg select-xs w-full',
              onchange: 'this.form.requestSubmit()',
            },
          )
        %>
      <% end %>
    </div>
  </div>
<% end %>
