<div class="p-4 flex flex-row bg-gray-100 rounded-xl <%= @container_class %>">
  <img
    src="<%= vite_asset_path('assets/icons/info.svg') %>"
    class="summer-icon mr-0.5"
    alt="Info Icon"
    />
  <div class="ml-2">
    <%= content %>
  </div>
</div>
