<p style="color: green"><%= notice %></p>

<h1 class="text-2xl">My Projects</h1>

<div class="mb-4">
  <%= link_to 'New project', new_project_path, class: 'btn btn-sm btn-link' %>
</div>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p class="mb-4">
      <%=
        link_to 'Show this project',
                project_path(project),
                class: 'btn btn-sm btn-secondary'
      %>
    </p>
  <% end %>
</div>
