
<h1 class="text-2xl font-extrabold">Article statistics</h1>

<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Article</th>
      <th>Summary</th>
      <th>Clicks</th>
      <th>Last Update</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>1</th>
      <td>Introduction Cy Ganderton</td>
      <td>Quality Control Specialist</td>
      <td>Littel, Schaden and Vandervort</td>
      <td>0</td>
      <td>12/16/2020</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Let's start withHart Hagerty</td>
      <td>Desktop Support Technician...</td>
      <td>Zemlak, Daniel and Leannon...</td>
      <td>2</td>
      <td>12/5/2020</td>
    </tr>
    <tr>
      <th>3</th>
      <td>What does Brice Swyre like most?</td>
      <td>Brice Swyre is a well-known writer...</td>
      <td>Carroll Group....</td>
      <td>1</td>
      <td>8/15/2020</td>
    </tr>
    </tbody>
  </table>
</div>
