<ul class="list-decimal list-inside">
  <li>
    Setup <a href="#appearance" class="link underline-offset-4">the appearance</a>. Change it
    any time later. <span class="opacity-40">30 sec</span>
  </li>
  <li class="mt-2">
    <a href="#code_snippet" class="link underline-offset-4">Embed code</a> on your website.
    <span class="opacity-40">5 min</span>
  </li>
  <li class="mt-2">
    Check the status in the
    <%= link_to 'Pages section', project_pages_path, class: 'link underline-offset-4' %>
    after the first button loads. <span class="opacity-40">30 sec</span>
  </li>
  <li class="mt-2">
    Add custom instructions and your products to
    <%= link_to 'Knowledge', knowledge_project_path, class: 'link underline-offset-4' %>.
    <span class="opacity-40">Optional</span>
  </li>
</ul>
