name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - dev

env:
  MAILER_DEFAULT_FROM: no-reply@getsummer.ai
  FREE_PLAN_CLICKS_THRESHOLD: 500

jobs:
  rspec:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd="pg_isready" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Install packages
        run: sudo apt-get update && sudo apt-get install --no-install-recommends -y google-chrome-stable curl libjemalloc2 libvips postgresql-client libpq-dev redis-tools redis-server

      - name: Verify that redis is up
        run: redis-cli ping

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: .ruby-version
          bundler-cache: true

      - name: Set up Node & Yarn
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'yarn'

      - name: Get yarn cache dir
        id: yarn-cache-dir
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Yarn cache
        id: cache-yarn
        uses: actions/cache@v3
        with:
          path: ${{ steps.yarn-cache-dir.outputs.dir }}
          key: yarn-${{ hashFiles('**/yarn.lock') }}

      - name: Yarn install
        run: yarn install

      - name: Setup DB, Precompile assets
        env:
          RAILS_ENV: test
          VITE_API_URL: ''
          VITE_ASSETS_URL: ''
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
        run: bin/rails db:setup assets:precompile

      - name: Run specs
        env:
          RAILS_ENV: test
          DATABASE_URL: postgres://postgres:postgres@localhost:5432
          CAPYBARA_JS_DRIVER: selenium_chrome_headless
        run: bin/rails spec
