<% content_for :meta do %>
  <title>Summer AI | Error</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Transform your blog with AI summary button.">
  <meta property="og:title" content="Summer AI | Error">
<% end %>

<%= render template: "layouts/login" %>
